@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 6px;
}

body {
    font-family: 'Roboto Condensed', sans-serif; /* Aplicar la fuente Roboto Condensed a todo el cuerpo */
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar rellenos predeterminados */
}

#proyectos h2,
#tareas h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#nombreProyecto,
#descProyecto,
#proyecto,
#proyecto2,
#descTarea,
#fechaLimiteTarea, 
#fechaLimiteBusqueda {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
select,
button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
}

button[type="button"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
}

#listaProyectos {
    columns: 3; 
    column-gap: 10px;
}

.card {
    display: inline-block; 
    width: 97%; 
    margin-bottom: 10px; 
    margin-inline-end: 10px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #9c7c7c;
    color: #c7c7c7;
    padding: 1rem;  
    padding-top: 0.2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-footer {
    background-color: #816565;
    color: #c7c7c7;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 10px);
    }
}

.tareaElement {
    background-color: #9c7c7c;
    color: #c7c7c7;
    padding: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0,2rem;
}

.fechaLimiteExpirada {
    color: rgb(115, 36, 36);
    border: black;
}
.fechaLimiteCorrecta {
    color: rgb(22, 126, 22);
    border: black;
}
