@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
}

#proyectos {
    margin-bottom: 20px;
}

#tareas {
    margin-top: 20px;
}

#AgregarProyecto {
    margin-bottom: 20px;
}

#AgregarTareas {
    margin-bottom: 20px;
}

#proyectos h2,
#tareas h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#nombreProyecto,
#descProyecto,
#proyecto,
#descTarea,
#fechaLimiteTarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="button"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 1em;
}

#listaProyectos {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

.card {
    flex: 0 0 calc(23% - 10px); 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    background-color: #f9f9f9;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #9c7c7c;
    color: #c7c7c7;
    padding: 1rem;  
    padding-top: 0.2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-footer {
    background-color: #816565;
    color: #c7c7c7;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Media query para hacer que las tarjetas sean responsive */
@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 10px); /* 50% de ancho en pantallas más pequeñas */
    }
}
